<div class="card" style="width: 18rem;">
    <img src=@ImageUrl class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <h5 class="card-category">@Category</h5>
        <p class="card-text">@Description</p>
        <a href=@($"products/{Id}") class="btn btn-primary">Go somewhere</a>
    </div>
</div>

@* Em vez de card fazer list *@
@code {
    [Parameter]
    public string ImageUrl { get; set; }
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Category { get; set; }  
    [Parameter]
    public string Description { get; set; } 
}
